body {
  padding-top: 56px; /* Offset for fixed navbar */
}

.home-section {
  height: 100vh;
  background: url('images/space.jpg') no-repeat center center;
  background-size: cover;
}

.about-section,
.gallery-section {
  min-height: 500px;
}

.contact-section {
  min-height: 400px;
}

footer {
  padding: 20px 0;
}
